//
//  Discovery STM32F746.xcconfig
//  Board config file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by 	Rei Vilo on Jul 31, 2015
//  Copyright   (c) 2010-2016 http://embedxcode.weebly.com
//  Licence		All rights reserved
//
// Last update: Nov 16, 2015 release 4.0.4

// Board identifier
//
BOARD_TAG       = DISCOVERY_F429ZI

// Port (optionnal)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT      = /dev/tty.usbmodem*

// References for Xcode code-sense
//
GCC_PREPROCESSOR_DEFINITIONS = STM32F429ZI MBED DISCOVERY_F429ZI

// Specify the full path and name of the application
// with /** after
//
HEADER_SEARCH_PATHS = ~/Library/embedXcode/mbed/**

// Board volume name
// volume name used for upload by copying binary
//
BOARD_VOLUME = /Volumes/NUCLEO


// ---- Additional definitions for mbed-enabled board
//
BOARD_NAME      = ST Discovery STM32F746

MCU             = cortex-m7
FPU_OPTIONS     = -mfpu=fpv5-sp-d16 -mfloat-abi=hard
BUILD_OPTIONS   = __CORTEX_M7 __FPU_PRESENT NO_EXCEPTIONS

LDSCRIPT        = STM32F746NG.ld
STARTUP         = startup_stm32f746xx.S
//SYSTEM         = system_stm32f4xx
//VARIANT        = TARGET_STM32F4XX

TOOLCHAIN       = TOOLCHAIN_GCC_ARM
UPLOADER        = stlink

// Maximum Flash and RAM sizes in bytes
MAX_FLASH_SIZE  = 2097152
MAX_RAM_SIZE    = 262144

// Paths in libraries/mbed/targets/hal/TARGET_STM/TARGET_NUCLEO_F401RE
//                                    /LEVEL1    /LEVEL2
LEVEL1          = TARGET_STM
LEVEL2          = TARGET_STM32F7
LEVEL3          = TARGET_DISCO_F746NG

// Paths in build/mbed/TARGET_NUCLEO_F401RE/TARGET_STM/TARGET_NUCLEO_F401RE
//                    /LEVEL0
LEVEL0          = TARGET_DISCO_F746NG

// Additional options for libraries
MORE_OPTIONS            = TOOLCHAIN_GCC_ARM TOOLCHAIN_GCC TARGET_STM32F746NG TARGET_STM32F746 ARM_MATH_CM7 TARGET_CORTEX_M __CORTEX_M7 TARGET_DISCO_F746NG TARGET_STM TARGET_M7 TARGET_STM32F7 __MBED__=1
MORE_TARGET_INCLUDE     = TARGET_M7
MORE_TOOLCHAIN_INCLUDE  = TOOLCHAIN_GCC

// FAST=pre-compiled or FULL make option
MBED_MAKE_OPTION        = FAST

// ---- End of additional definitions




