//
//  Nucleo F401RE.xcconfig
//  Board config file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by 	Rei Vilo on Sep 20, 2014
//  Copyright   (c) 2010-2016 http://embedxcode.weebly.com
//  Licence		All rights reserved
//
// Last update: Jul 09, 2015 release 299

// Board identifier
// See Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG       = LPC1768

// Port (optionnal)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT = /dev/tty.usbmodem*

// References for Xcode code-sense
//
GCC_PREPROCESSOR_DEFINITIONS = LPC1768 MBED

// Specify the full path and name of the application
// with ** after
//
HEADER_SEARCH_PATHS = ~/Library/embedXcode/mbed/**

// Board volume name
// volume name used for upload by copying binary
//
BOARD_VOLUME = /Volumes/MBED


// ---- Additional definitions for mbed-enabled board
//
BOARD_NAME = NPX LPC1768

MCU = cortex-m3
FPU_OPTIONS =
BUILD_OPTIONS = TARGET_LPC1768 TARGET_M3 TARGET_NXP TARGET_LPC176X TARGET_MBED_LPC1768 TOOLCHAIN_GCC_ARM TOOLCHAIN_GCC __CORTEX_M3 ARM_MATH_CM3 

LDSCRIPT = LPC1768.ld
STARTUP = startup_LPC17xx.S
//SYSTEM = system_LPC17xx
//VARIANT = TARGET_LPC176X

TOOLCHAIN = TOOLCHAIN_GCC_ARM

MAX_FLASH_SIZE = 524288
MAX_RAM_SIZE = 32768

// Paths in libraries/mbed/targets/hal/TARGET_NXP/TARGET_LPC176X/TARGET_MBED_LPC1768
//                                    /LEVEL1    /LEVEL2        /LEVEL3
LEVEL1 = TARGET_NXP
LEVEL2 = TARGET_LPC176X
LEVEL3 = TARGET_MBED_LPC1768

// Paths in build/mbed/TARGET_LPC1768/TARGET_NXP/TARGET_LPC176X/TARGET_MBED_LPC1768
//                    /LEVEL0
LEVEL0 = TARGET_LPC1768

// Additional options for libraries
MORE_OPTIONS = TARGET_LPC1768 TOOLCHAIN_GCC
MORE_TARGET_INCLUDE = TARGET_M3
MORE_TOOLCHAIN_INCLUDE = TOOLCHAIN_GCC

// FAST or FULL make option
MBED_MAKE_OPTION = FAST

// ---- End of additional definitions


